body {
	margin: 5%;
}
.results {
	font-size: 2em;
	font-weight: bold;
}
.green {
	color: #00FF00;
}
.red {
	color: #FF0000;
}
.repeat {
	font-weight: normal;
	font-size: 0.5em;
	margin-top:  10px;
}
/*input[type=radio]:checked ~ .check {
  border: 5px solid #0DFF92;
}*/
input[type=radio] {
	margin-bottom: 15px;
}