h1 {
	color: #0000FF;
	text-align: center;
}
h2 {
	color: #00AA77;
/*	text-align: center;*/
}
.div50 {
	display: inline-block;
	width: 48%;
	float: left;
}
.div302 {
	display: inline-block;
	width: 30%

}
li {
	margin-bottom: 8px;
}
.info {
	font-size: 1.5em;
	color: #777777;
}