body {
	margin: 10px;
}
table {
	margin-top: 15px;
	width: 80%;
}
th {
	font-size: 0.8em;
/*	text-align: center;*/
}
.warninfo {
	color: #FF0000;
}
.removebtn {
	width: 150px;
	margin: 10px;
}
.shortn, th {
	text-align: center;
}
td {
	padding: 10px;
}
.rembtn {
	width: 150px;
}