h1 {
	color: #107f0F;
	text-align: center;
}

ul {
	margin-top: 25px;
  	columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;

}

li[ui-sref]:hover {
	cursor: pointer;
	text-decoration: underline;
	color: #0000FF;
}

tr[ui-sref]:hover {
	cursor: pointer;	
    /*text-decoration: underline;*/
	color: #0000FF;

	background-color: #F80101;
}

.centr {
	margin-top: 25px;
	text-align: center;
}

.container, .desc, table {
	margin-top: 15px; 
}
.cats {
	margin: 0px auto;
}
td, th {
	padding: 8px
}