<!DOCTYPE html>
<html ng-app="appCountries">
<head>
	<title>Countries</title>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>

<body>
	<div class="container">
	<div class="row">
	<div ng-controller="CountryController as ctrl">
	<span ng-if="((ctrl.getCurrentQuestNum() !== 0)&&(ctrl.getCurrentQuestNum()<ctrl.total))"> {{ctrl.getCurrentQuestNum();}}. </span>
	{{ctrl.question}} <BR> <BR>
	<div ng-repeat="var in ctrl.variants">
	  <label>	
      <input type="radio" ng-model="ctrl.variantName" ng-value="var.name" name="var-picker" > &nbsp; {{var.name}}
    	</label>
    	<BR/>
    </div>
    <BR/>
<!--  <tt>choice = {{ctrl.variantName}}</tt> -->
    
    <div ng-if="ctrl.showRes" class="results">
    	{{ctrl.rightAnswers}} из {{ctrl.total}}
    	<div class="{{ctrl.proc_class();}}">
    	 {{ ctrl.proc();}}%  
    	</div>
    	<div ng-if="ctrl.repeat.length>0" class="repeat">
    		Repeat capitals of next countries:
    		<ul>
    		  <li ng-repeat=" item in ctrl.repeat"> {{item}}
    		  </li>
    		</ul>
    	</div>
    </div>



    <button class="btn btn-default" 
     		ng-click="ctrl.nextQuest();" 
     		ng-if="!ctrl.showRes"> {{ctrl.buttonName}} </button>

     </div> <!-- row -->
	</div>
	</div>
</body>

</html>